ul.menu__raiz
  li.menu__item 
   a.menu__link(class={activa: urlActiva === '/'} href='/') Inicio
  li.menu__item 
   a.menu__link(class={activa: urlActiva === 'nosotros'} href='/nosotros.html') Nosotros
  li.menu__item 
   a.menu__link(class={activa: urlActiva === 'servicios'} href='/servicios.html') Servicios
  li.menu__item 
   a.menu__link(class={activa: urlActiva === 'portfolio'} href='/portfolio.html') Portfolio
  li.menu__item 
   a.menu__link(class={activa: urlActiva === 'contacto'} href='/contacto.html') Contacto