.aside__container
    h2.aside__cabecera Redes Sociales
    a.aside__link(href="http://www.twitter.com") Twitter
    a.aside__link(href="http://www.facebook.com") Facebook
    a.aside__link(href="http://www.youtube.com") Youtube
    a.aside__link(href="http://www.linkedin.com") LinkedIn
    