block config
    include ../config/config

doctype html
html(lang="es")
    head
        include ../includes/head
    body
        header.cabecera
            .cabecera__contenedor
                include ../includes/cabecera
        .banner
            include ../includes/banner
        .contenedor
            if main 
                main.main
                    block main
            else
                main.main--full
                    block main
            if aside
                aside.aside
                    include ../includes/siguenos
        footer.footer
            include ../includes/footer