-tituloPagina = ''
-tituloSitio = 'ACME Inc.'
-descripcion = 'La página web de una corporación muy importante'
-paginas = ['inicio', 'nosotros', 'servicios', 'portfolio', 'contacto']
-paginaActual = 'inicio'
-aside = true
-main = true
