extends templates/template
append config
    -tituloPagina = 'Portfolio'
    -imagenBanner = 'portfolio'
    -urlActiva = 'portfolio'
block main
    h1 Portfolio
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, delectus tenetur ipsa vero veniam exercitationem quos possimus perspiciatis maxime quasi voluptate? Saepe aut numquam nostrum, earum eligendi sapiente exercitationem explicabo!
