block config
    include ../config/config.pug

doctype html
html(lang="es")
    head
        include ../blocks/head.pug
    body
        header.cabecera
            .cabecera__contenedor
                include ../blocks/cabecera.pug
        .banner
            include ../blocks/banner.pug
        .contenedor
            if main 
                main.main
                    block main
            else
                main.main--full
                    block main
            if aside
                aside.aside
                    include ../blocks/siguenos.pug
        footer.footer
            include ../blocks/footer.pug