extends templates/template.pug
append config
    -tituloPagina = 'Contacto'
    -imagenBanner = 'contacto'
    -aside = false
    -urlActiva = 'contacto'
block main
    <iframe height="508" allowTransparency="true" frameborder="0"scrolling="no" style="width:100%;border:none" src="https://sergiodiezdepedro.wufoo.com/embed/m194qct208delqg/"><a href="https://sergiodiezdepedro.wufoo.com/forms/m194qct208delqg/"> Fill out my Wufoo form!</a></iframe>
                                              