extends templates/template.pug
append config
    -tituloPagina = 'Inicio'
    -imagenBanner = 'inicio'
    -aside = false
    -main = false
    -urlActiva = '/'
block main
    h1 Bienvenidos
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, delectus tenetur ipsa vero veniam exercitationem quos possimus perspiciatis maxime quasi voluptate? Saepe aut numquam nostrum, earum eligendi sapiente exercitationem explicabo!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi nemo doloremque esse ratione consequuntur autem numquam minima pariatur facere perferendis illum impedit reprehenderit cum nobis, voluptatibus dolorum sed officiis ab.