extends templates/template.pug
append config
    -tituloPagina = 'Nosotros'
    -paginaActual = 'nosotros'
block main
    h1 Nosotros
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, delectus tenetur ipsa vero veniam exercitationem quos possimus perspiciatis maxime quasi voluptate? Saepe aut numquam nostrum, earum eligendi sapiente exercitationem explicabo!